body{
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.container{
    margin: 1em auto;
    width: 900px;
    background: #fff;
}

.titulo1{
    font-family: system-ui;
    padding-left: 10px;
    padding-top: 10px;
    background-color: darkslategrey;
    color: #d6d6d6;
    margin-bottom: 0px;
}

.login{
    font-family: system-ui;
    font-size: 15px;
    display: block;
}

 .login input[type="text"]{
    font-family: system-ui;
    font-size: 15px;
    display: block;
    width: 150px;
    height: 12px
}

.login input[type="password"]{
    font-family: system-ui;
    font-size: 15px;
    display: block;
    width: 150px;
    height: 12px
}

.secoes{
    list-style-type: none;
    display: flex;
    padding-left: 5px;
    margin-top: 0px;
    background-color: rgb(139, 173, 173);
    font-family: monospace;
    padding-left: 5px;
}

.secoes li{
    border-left: 1px solid rgb(175, 207, 207);
    border-right: 1px solid rgb(175, 207, 207);
    padding-right: 5px;
    padding-left: 5px;
}

.imagem1{
    height: 150px;
    width: 150px;
}

.addcoment{
    padding-left: 550px;
}

section{
    padding-left: 5px;
}


aside{
    float: right;
    width: 165px;
    padding-left: 10px;
    border-left: 1px solid rgb(175, 207, 207);
}

.tituloperfil{
    font-family: helvetica;
    font-size: 15px;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(175, 207, 207);
}

.titulosaside{
    font-family: system-ui;
    font-size: 20px;
}

.imagem2{
    height: 100px;
    width: 100px;
    padding-left: 35px;
}

footer{
    background-color:  darkslategrey;
    color: #d6d6d6;
    text-align: center;
    font-size: 12px;
    clear: both;
}
